<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Abbey</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
     <div id="wrapper">
      <div id="menu">
        <p class="welcome" id="red" >Welcome, <b><b></p>
          <!-- <p class="logout" onclick="scrollDown()"><a id="exit" href="#">Scroll Down</a></p> -->
          <p class="logout"><a id="exit" href="login">Exit Chat</a></p>

      </div>

      <div id="chatbox">
        <!-- <div id="top">top</div>
<div id="bottom">bottom</div> -->
      </div>

      <form name="message" action="" method="POST">
          <input name=""  type="text" id="usermsg" value="">
        <button type="button" id="submitmsg" class="submit" name="">Send</button>
        </form>
    </div>
    <script type="text/javascript" src="dashboard.js"></script>
    <script type="text/javascript">
      // window.onload = () => {console.dir(chatbox)}


      // function scrollDown(){
      //
      //   chatbox.scrollTop = "100%";
      // }
    </script>
  </body>
</html>
