<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="loginform">
        <p>Please enter your username to continue!</p>
  <form action="" method="post">
    <label for="name">Name &mdash;</label>
    <input type="text" name="" id="name" value="" />
    <input type="submit" name="" id="enter" value="Login" />
  </form>
  <a href="register">Register</a>
</div>
  </body>
<script type="text/javascript" src="login.js"></script>
</html>
